@model IEnumerable<CRUD_Management_Employees.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>List Employees</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeLocation)
            </th>
            <th>
                <a asp-action="Create" class="btn btn-outline-success">
                    <i class="far fa-plus-square"></i> Employee
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeLocation)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EmpId">
                        <i style='font-size:18px' class='fas'>&#xf304;</i>
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.EmpId">
                        <i style='font-size:18px' class='fas'>&#xf0ae;</i>
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.EmpId">
                        <i class='far fa-trash-alt' style='font-size:18px;color:red'></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
