@model PharmacyWeb.ViewModel.ModelForCreate
@inject PharmacyWebDbContext context;
@{
}

<form enctype="multipart/form-data" asp-controller="Account" asp-action="Create" method="post" class="form-control">
    <h6><strong>Thông tin cá nhân</strong></h6>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Họ và Tên</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="FullName">
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Phone Number</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" asp-for="PhoneNum" />
        </div>
    </div>
    <hr />
    <h6><strong>Mật khẩu của bạn</strong></h6>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Mật khẩu</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Xác nhận mật khẩu</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

    </div>
    <hr />

    <h6><strong>Thông tin địa chỉ</strong></h6>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Tỉnh Thành</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.Province, new SelectList(context.Province.ToList(), "Id", "Name"),
           "Tỉnh/Thành phố", new { @class = "form-control" })
        </div>
        <span asp-validation-for="Province"></span>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Quận Huyện</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.District, new SelectList(context.District.ToList(), "Id", "Name"), "Quận/Huyện", new { @class = "form-control" })
        </div>
        <span asp-validation-for="District"></span>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Xã Phường</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.Ward, new SelectList(context.Ward.ToList(), "Id", "Name"), "Xã/Phường", new { @class = "form-control" })
        </div>
        <span asp-validation-for="Ward"></span>
    </div>
       
    <div class="form-group row">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" asp-for="iformfile_path">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Địa chỉ</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="HouseNumber">
        </div>
        <span asp-validation-for="HouseNumber"></span>
    </div>
    <button type="submit">Đăng Ký</button>

</form>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    $(function () {
        $("#Province").change(function () {
            var url = '@Url.Content("~/")' + "Account/GetDistrictById";
            var ddlsource = "#Province";
            $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                var items = '';
                @*$("#DistrictId").empty();*@
                $.each(data, function (i, row) {
                    items += "<option value='" + row.value + "'>" + row.text + "</option>";
                });
                $("#District").html(items);
            });
        });
    }
    );

    $(function () {
        $("#District").change(function () {
            var url = '@Url.Content("~/")' + "Account/GetWardById";
            var ddlsource = "#District";
            $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                var items = '';
                @*$("#WardId").empty();*@
                $.each(data, function (i, row) {
                    items += "<option value='" + row.value + "'>" + row.text + "</option>";
                });
                $("#Ward").html(items);
            });
        });
    }
    );

    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>