@model List<ApplicationUser>
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> Usermanager

<h1>User Manager</h1>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Full Name</th>
            <th scope="col">Address</th>
            <th scope="col">Roles</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.FullName</td>
                    <td>@item.Address</td>
                    <td>
                        @foreach (var role in Usermanager.GetRolesAsync(item).Result)
                        {
                            @role
                        }
                    </td>
                    <td>
                        <a asp-controller="User" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-controller="User" asp-action="Delete" asp-route-id="@item.Id"
                           onclick="return confirm('delete this User ?')">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
